.topnav {
  background-color: red;
  overflow: hidden;
  display: flex;
}
.navbar-link-container{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-size: xx-large;
  font-weight: 700;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(233, 75, 75);
}

/* Add a color to the active/current link */
.active {
  background-color: rgb(233, 75, 75);
}

.navbar-logout-btn{
  background-color: white;
  border: 0;
  border-radius: 20px;
  color: red;
  font-weight: 700;
  width: 100px;
  padding: 0.5fr;
  height: 50px;
  cursor: pointer;
  margin: auto 10px ;

}
.navbar-logout-btn:hover{
  background-color: rgb(204, 203, 203);
}
