<div>
  <div class="pokemon-page-btn-container">
    <button class="pokemon-page-btn" [disabled]="isOnFirstPage" (click)="previousPage()">
      Previous Page
    </button>
    <button class="pokemon-page-btn" [disabled]="isOnLastPage" (click)="nextPage()">Next Page</button>
  </div>

  <div *ngIf="pokemons !== null" class="pokemons-container">
    <app-pokemon-card
      *ngFor="let pokemon of pokemons"
      [pokemon]="pokemon"
      (catchClicked)="onClickCatch($event)"
    >
    </app-pokemon-card>
  </div>

  <div class="pokemon-page-btn-container">
    <button class="pokemon-page-btn" [disabled]="isOnFirstPage" (click)="previousPage()">
      Previous Page
    </button>
    <button class="pokemon-page-btn" [disabled]="isOnLastPage" (click)="nextPage()">Next Page</button>
  </div>
</div>
