.pokemons-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    width: 70vw;
}
.pokemon-page-btn-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.pokemon-page-btn{
    cursor: pointer;
}