.input-field {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin: 0px auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(226, 218, 218);
  border: none;
  width: 30%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
h1 {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
}
